
@model Web_BanXeMoTo.Controllers.ViewModelNV
@{ ViewData["Title"] = "Edit";

    Layout = "~/Views/Shared/_LayoutManager.cshtml"; }
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>

                    Quản lý nhân viên

                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link  ">
                <span>Danh sách nhân viên</span>
            </a>
        </li>

    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <div class="card-img ">
                                @*<img src="@(Model.nhanVien.Avt != null? Url.Content(Model.nhanVien.Avt) :"/img/icon.png")" height="200" width="200" id="previewImg" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 240px; display: block;" />*@
                                <img src="@("/img/"+Model.nhanVien != null? Url.Content("/img/"+Model.nhanVien.Avatar) :"/img/icon.png")" id="output" height="200" width="200" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 240px; display: block;" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="nhanVien.Idnv" class="control-label"></label>
                            <input asp-for="nhanVien.Idnv" class="form-control" readonly />
                            <span asp-validation-for="nhanVien.Idnv" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="nhanVien.Email" class="control-label"></label>
                            <input asp-for="nhanVien.Email" class="form-control" />
                            <span asp-validation-for="nhanVien.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="nhanVien.Pass" class="control-label"></label>
                            <input asp-for="nhanVien.Pass" class="form-control" />
                            <span asp-validation-for="nhanVien.Pass" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="nhanVien.TenNv" class="control-label"></label>
                            <input asp-for="nhanVien.TenNv" class="form-control" />
                            <span asp-validation-for="nhanVien.TenNv" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="nhanVien.DienThoai" class="control-label"></label>
                            <input asp-for="nhanVien.DienThoai" class="form-control" />
                            <span asp-validation-for="nhanVien.DienThoai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="nhanVien.DiaChi" class="control-label"></label>
                            <input asp-for="nhanVien.DiaChi" class="form-control" />
                            <span asp-validation-for="nhanVien.DiaChi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="nhanVien.Cmnd" class="control-label"></label>
                            <input asp-for="nhanVien.Cmnd" class="form-control" />
                            <span asp-validation-for="nhanVien.Cmnd" class="text-danger"></span>
                        </div>
                        <div class="position-relative form-group">
                            <label asp-for="nhanVien.Idtype" class="control-label"></label>
                            <select asp-for="nhanVien.Idtype" class="form-control">
                                @foreach (var item in Model.ListType)
                                {
                    <option value="@item.Idtype">@item.Name </option>}
                            </select>
                        </div>
                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*" onchange="ChangeImage(this,'#previewImg')" />*@
                        <input asp-for="nhanVien.UploadHinh" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />
                        <div class="form-group">
                            <input type="submit" value="Lưu" class="btn btn-sm btn-outline-primary" />

                            <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Trở về</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Script.js"></script>