@model Web_BanXeMoTo.Controllers.ViewModelCus
@using Microsoft.AspNetCore.Http;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section class="myBooking">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create" enctype="multipart/form-data" class="bookingForm__container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="datLich.Idmau" class="control-label"></label>
                        <select asp-for="datLich.Idmau" class="form-control">
                            @foreach (var hang in Model.ListHang)
                            {
                                <option id="booking__optHang" disabled>@hang.TenHang</option>

                                @foreach (var mau in Model.ListMauXe)
                                {
                                    if (mau.Idhang == hang.Idhang)
                                    {
                                        <option value="@mau.Idmau">&nbsp; &nbsp;@mau.TenXe</option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div hidden class="form-group">
                        <label asp-for="datLich.Idkh" class="control-label"></label>
                        @foreach (var kh in Model.ListKhachHang)
                        {
                            if (Context.Session.GetString("email") == kh.Email)
                            {
                                <input readonly asp-for="datLich.Idkh" value="@kh.Idkh" class="form-control" />
                            }
                        }
                    </div>

                    <div>
                        <label asp-for="khachHang.TenKh" class="control-label"></label>
                        @foreach (var kh in Model.ListKhachHang)
                        {
                            if (Context.Session.GetString("email") == kh.Email)
                            {
                                <p class="form-control">@kh.TenKh</p><br />
                            }
                        }
                    </div>

                    <div class="form-group">
                        <label asp-for="datLich.NgayDat" class="control-label"></label>
                        <input asp-for="datLich.NgayDat" class="form-control" />
                        <span asp-validation-for="datLich.NgayDat" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="datLich.GhiChu" class="control-label"></label>
                        <input asp-for="datLich.GhiChu" class="form-control" />
                        <span asp-validation-for="datLich.GhiChu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Đặt lịch" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

